mode: standalone

replicas: 1

rootUser: "admin"
rootPassword: "QWEqwe09."

resources:
  requests:
    memory: 512Mi
    cpu: 250m
  limits:
    memory: 1Gi
    cpu: 1

persistence:
  enabled: true
  size: 20Gi

ingress:
  enabled: false
